Test och se om vi kan bättre utnyttja fält i Litteraturbankens json
* sbl_link --> Wikidata Property 3217 = Svenskt Biografiskt Lexikon
* skbl_link --> Wikidata Property 4963 = Svenskt kvinnobiografiskt lexikon
* sol_link ?!?!?!
* wikidata_id = Wikidata Qnummer
* wikipedia = WIkipedia URL


Denna [Notebook](https://github.com/salgo60/spa2Commons/blob/main/Notebook/Literaturbanken%20-%20samma%20som.ipynb) 
* [issue 3](https://github.com/salgo60/spa2Commons/issues/3) om vi kan bättre förstå hur Litteraturbanken arbetar

Status


| Date | Litteraturbanken show | Littbank - WD | Littbank - SBL | Littbank - SKBL|WD - Littbank | WD - Littbank - SBL  |WD - Littbank - SKBL  |
| ------------- |:-------------:|:-------------:|:-------------:|:-------------:|:-------------:|:-------------:| -----:|
| 20211001 | 3130 | 2132 | 765 | 152 | 2346 | 810 | 161

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2021-10-03 12:43:38.516223

In [2]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
pd.set_option("display.max.columns", None) 
 
url = "https://litteraturbanken.se/api/get_authors"
r = http.request('GET', url)
data = json.loads(r.data)
df = pd.json_normalize(data["data"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   authorid                       4024 non-null   object
 1   authorid_norm                  4024 non-null   object
 2   db_checksum                    4024 non-null   object
 3   db_timestamp                   4024 non-null   int64
 4   doc_type                       4024 non-null   object
 5   full_name                      4024 non-null   object
 6   gender                         4024 non-null   object
 7   imported                       3365 non-null   object
 8   intro                          728 non-null    object
 9   librisid                       2166 non-null   object
 10  name_for_index                 4024 non-null   object
 11  pictureinfo                    169 non-null    object
 12  searchable                     4024 non-null   bool
 13  show                           4024 non-null   bool
 14  surname                        4024 non-null   object
 15  updated                        3365 non-null   object
 16  birth.date                     3900 non-null   object
 17  birth.plain                    4024 non-null   object
 18  death.date                     2179 non-null   object
 19  death.plain                    3317 non-null   object
 20  wikidata.birthplace            1694 non-null   object
 21  wikidata.birthplace_label      1694 non-null   object
 22  wikidata.deathplace            1491 non-null   object
 23  wikidata.deathplace_label      1491 non-null   object
 24  wikidata.image                 1274 non-null   object
 25  wikidata.sbl_link              812 non-null    object
 26  wikidata.skbl_link             173 non-null    object
 27  wikidata.sol_link              122 non-null    object
 28  wikidata.wikidata_id           2344 non-null   object
 29  wikidata.wikipedia             1914 non-null   object
 30  db_timestamp_updated           2495 non-null   float64
 31  intro_text                     728 non-null    object
 32  popularity                     2030 non-null   float64
 33  pseudonym                      126 non-null    object
 34  dramawebben.intro              114 non-null    object
 35  dramawebben.intro_author       113 non-null    object
 36  dramawebben.intro_author_norm  113 non-null    object
 37  dramawebben.legacy_url         127 non-null    object
 38  dramawebben.picture            82 non-null     object
 39  sources                        536 non-null    object
 40  other_name                     77 non-null     object
 41  intro_author                   417 non-null    object
 42  intro_author_norm              417 non-null    object
 43  dramawebben.picture_info       76 non-null     object
 44  picture                        251 non-null    object
 45  bibliography                   14 non-null     object
 46  external_ref                   8 non-null      object
 47  presentation                   27 non-null     object
 48  seemore                        4 non-null      object
 49  dramawebben.sources            6 non-null      object
dtypes: bool(2), float64(2), int64(1), object(45)
memory usage: 1.5+ MB

In [4]:
df["show"].value_counts()

True     3130
False     894
Name: show, dtype: int64

In [5]:
#just objects with show
dfShow = df[df["show"]].copy()

In [6]:
dfexternal = dfShow[{"authorid","wikidata.sbl_link","wikidata.skbl_link","wikidata.wikidata_id","wikidata.sol_link"
,"wikidata.wikidata_id","wikidata.wikipedia"}]

In [7]:
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130 entries, 1 to 4023
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikidata_id  2134 non-null   object
 1   wikidata.sbl_link     765 non-null    object
 2   authorid              3130 non-null   object
 3   wikidata.skbl_link    152 non-null    object
 4   wikidata.sol_link     118 non-null    object
 5   wikidata.wikipedia    1752 non-null   object
dtypes: object(6)
memory usage: 171.2+ KB

In [8]:
dfexternal

,wikidata.wikidata_id,wikidata.sbl_link,authorid,wikidata.skbl_link,wikidata.sol_link,wikidata.wikipedia
1,Q11967131,None,AasenE,None,None,None
2,Q4933592,None,AbeniusM,MargitAbenius,None,https://sv.wikipedia.org/wiki/Margit_Abenius
3,NaN,NaN,AbrahamssonA,NaN,NaN,NaN
5,Q4934135,None,AbrahamssonS,None,None,https://sv.wikipedia.org/wiki/Selma_Abrahamsson
6,Q365923,5503,AchariusE,None,None,https://sv.wikipedia.org/wiki/Erik_Acharius
...,...,...,...,...,...,...
4015,Q1237808,None,ÖnnerforsA,None,None,https://sv.wikipedia.org/wiki/Alf_%C3%96nnerfors
4017,Q6257795,None,ÖstergrenCL,None,None,https://sv.wikipedia.org/wiki/Carl_%C3%96stergren
4018,NaN,NaN,ÖstergrenC,NaN,NaN,NaN
4021,Q100752816,None,ÖstinO,None,None,None
4023,Q11978200,None,ØverlandJ,None,None,None

In [9]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ass.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-10-03 12:43:40.824824
Time elapsed (hh:mm:ass.ms) 0:00:02.308814

### Get Wikidata

In [10]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys,json
import pandas as pd 

from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

# https://w.wiki/4AAV
query = """SELECT (REPLACE(STR(?item), ".*Q", "Q") AS ?WikidataID)  ?authorid ?SBL ?SKBL WHERE {
?item wdt:P31 wd:Q5.
?item wdt:P5101 ?authorid
OPTIONAL {?item wdt:P3217 ?SBL}
OPTIONAL {?item wdt:P4963 ?SKBL}
} order by ?authorid"""
 
    
def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']
    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDLittbanktot = get_sparql_dataframe(endpoint_url, query)

In [11]:
WDLittbanktot['SBL'] = pd.to_numeric(WDLittbanktot['SBL'], errors="coerce")
WDLittbanktot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348 entries, 0 to 2347
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  2348 non-null   object
 1   authorid    2348 non-null   object
 2   SBL         811 non-null    float64
 3   SKBL        161 non-null    object
dtypes: float64(1), object(3)
memory usage: 73.5+ KB

In [12]:
dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130 entries, 1 to 4023
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikidata_id  2134 non-null   object
 1   wikidata.sbl_link     765 non-null    float64
 2   authorid              3130 non-null   object
 3   wikidata.skbl_link    152 non-null    object
 4   wikidata.sol_link     118 non-null    object
 5   wikidata.wikipedia    1752 non-null   object
dtypes: float64(1), object(5)
memory usage: 171.2+ KB

<ipython-input-12-e1d483007a37>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")

### Compare Littbank Wikidata field with Wikidata

In [13]:
WDLittbank_WD_merge =  pd.merge(WDLittbanktot, dfexternal, on='authorid',indicator=True)
WDLittbank_WD_merge.rename(columns={"_merge": "WD_Littbank_merge"},inplace = True)

WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2347
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [14]:
WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2347
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [15]:
# all with SBL seems to have WIkidata
WDLittbanktotSBL =  WDLittbank_WD_merge[~WDLittbank_WD_merge['wikidata.sbl_link'].isnull()]
WDLittbanktotSBL_noWD = WDLittbanktotSBL[WDLittbanktotSBL['wikidata.wikidata_id'].isnull()] 
WDLittbanktotSBL_noWD

Empty DataFrame
Columns: [WikidataID, authorid, SBL, SKBL, wikidata.wikidata_id, wikidata.sbl_link, wikidata.skbl_link, wikidata.sol_link, wikidata.wikipedia, WD_Littbank_merge]
Index: []

### SBL

In [16]:
WDLittbanktot_SBL = WDLittbanktot[~WDLittbanktot["SBL"].isna()]
WDLittbanktot_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811 entries, 5 to 2279
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  811 non-null    object
 1   authorid    811 non-null    object
 2   SBL         811 non-null    float64
 3   SKBL        79 non-null     object
dtypes: float64(1), object(3)
memory usage: 31.7+ KB

In [17]:
dfexternal_SBL = dfexternal[~dfexternal["wikidata.sbl_link"].isna()]

In [18]:
dfexternal_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 6 to 3897
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikidata_id  765 non-null    object
 1   wikidata.sbl_link     765 non-null    float64
 2   authorid              765 non-null    object
 3   wikidata.skbl_link    77 non-null     object
 4   wikidata.sol_link     66 non-null     object
 5   wikidata.wikipedia    763 non-null    object
dtypes: float64(1), object(5)
memory usage: 41.8+ KB

In [19]:
WDLittbank_WD_SBL_merge =  pd.merge(WDLittbanktot_SBL, dfexternal_SBL, left_on='SBL', right_on='wikidata.sbl_link',indicator=True)
WDLittbank_WD_SBL_merge.rename(columns={"_merge": "WD_Littbank_SBL_merge"},inplace = True)

WDLittbank_WD_SBL_merge["WD_Littbank_SBL_merge"].value_counts()

both          766
left_only       0
right_only      0
Name: WD_Littbank_SBL_merge, dtype: int64

## SKBL

In [20]:
WDLittbanktot_SKBL = WDLittbanktot[~WDLittbanktot["SKBL"].isna()]
WDLittbanktot_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 2 to 2337
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  161 non-null    object
 1   authorid    161 non-null    object
 2   SBL         79 non-null     float64
 3   SKBL        161 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.3+ KB

In [21]:
dfexternal_SKBL = dfexternal[~dfexternal["wikidata.skbl_link"].isna()]
dfexternal_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 2 to 4006
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikidata_id  152 non-null    object
 1   wikidata.sbl_link     77 non-null     float64
 2   authorid              152 non-null    object
 3   wikidata.skbl_link    152 non-null    object
 4   wikidata.sol_link     23 non-null     object
 5   wikidata.wikipedia    152 non-null    object
dtypes: float64(1), object(5)
memory usage: 8.3+ KB

In [22]:
WDLittbank_WD_SKBL_merge =  pd.merge(WDLittbanktot_SKBL, dfexternal_SBL, left_on='SKBL', right_on='wikidata.skbl_link',indicator=True)
WDLittbank_WD_SKBL_merge.rename(columns={"_merge": "WD_Littbank_SKBL_merge"},inplace = True)

WDLittbank_WD_SKBL_merge["WD_Littbank_SKBL_merge"].value_counts()

both          77
left_only      0
right_only     0
Name: WD_Littbank_SKBL_merge, dtype: int64

In [23]:
print("|",start_time.strftime("%Y%m%d"),"|",dfShow["authorid"].nunique(),
     "|",dfShow["wikidata.wikidata_id"].nunique(),
     "|",dfShow["wikidata.sbl_link"].nunique(),
     "|",dfShow["wikidata.skbl_link"].nunique(),
     "|",WDLittbanktot["authorid"].nunique(),
     "|",WDLittbanktot["SBL"].nunique(),
     "|",WDLittbanktot["SKBL"].nunique()
     )

| 20211003 | 3130 | 2132 | 765 | 152 | 2346 | 810 | 161

In [24]:
#dfShow["wikidata.wikidata_id"].nunique()

In [25]:
#WDLittbanktot.info()

In [26]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-10-03 12:43:44.064669
Time elapsed (hh:mm:ss.ms) 0:00:05.548796