### Work in progress
Test och se om vi kan bättre utnyttja fält i Litteraturbankens json
* sbl_link --> Wikidata Property 3217 = Svenskt Biografiskt Lexikon
* skbl_link --> Wikidata Property 4963 = Svenskt kvinnobiografiskt lexikon
* sol_link ?!?!?!
* wikidata_id = Wikidata Qnummer
* wikipedia = Wikipedia URL


Denna [Notebook](https://github.com/salgo60/spa2Commons/blob/main/Notebook/Literaturbanken%20-%20samma%20som.ipynb) 
* [issue 3](https://github.com/salgo60/spa2Commons/issues/3) om vi kan bättre förstå hur Litteraturbanken arbetar

**TODO**
 -  [ ] kontrollera data
 -  [ ] förstå vad SOL är
 - [ ] bättre koll diff SBL SKBL skriva ut till fil
 - [ ] kolla samma som LIBRISXL



**Connectivity status**

I en perfektr värld skall
* A = B = E
* C = F 
* D = G

| Date | A: Litteraturbanken show | B: Littbank - WD | C: Littbank - SBL | D: Littbank - SKBL|E: WD - Littbank | F: WD - Littbank - SBL  |G: WD - Littbank - SKBL  |
| ------------- |:-------------:|:-------------:|:-------------:|:-------------:|:-------------:|:-------------:| -----:|
| 20211001 | 3130 | 2132 | 765 | 152 | 2346 | 810 | 161
| 20211004 | 3130 | 2132 | 765 | 152 | 2347 | 809 | 161

Saker som detta är enormt viktigt   
* Wikidata behöver auktoriteter att kontrollera kvaliten på vårt data och snabbt se att vi som en öppen plattform inte vandaliseras
* Wikidata med Wikipedia har stort antal visningar - se statistik senaste året > [15000 visningar per dag](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=last-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://sv.wikipedia.org/wiki/Kategori:Litteraturbanken) på de artiklar som länkar Litteraturbanken --> vi drar traffik till Litteraturbanken
* vi ser mer och mer brister hos Kungliga biblioteket och andra äldre auktorieteter att dom har gamla plattformar/teknik där fyller en plattform som Wikidata med sina fel och brister en ny möjlighet se [tankar](https://github.com/salgo60/spa2Commons/issues/3) 
* ju fler som kopplar ihop sig med varandra desto snabbare/enklare blir denna process
* på sikt hoppas vi få ett kulturarv där vi jobbar ihop även fast det går långsamt

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2021-10-04 13:01:50.933082

In [2]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
pd.set_option("display.max.columns", None) 
 
url = "https://litteraturbanken.se/api/get_authors"
r = http.request('GET', url)
data = json.loads(r.data)
df = pd.json_normalize(data["data"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   authorid                       4024 non-null   object
 1   authorid_norm                  4024 non-null   object
 2   db_checksum                    4024 non-null   object
 3   db_timestamp                   4024 non-null   int64
 4   doc_type                       4024 non-null   object
 5   full_name                      4024 non-null   object
 6   gender                         4024 non-null   object
 7   imported                       3365 non-null   object
 8   intro                          728 non-null    object
 9   librisid                       2166 non-null   object
 10  name_for_index                 4024 non-null   object
 11  pictureinfo                    169 non-null    object
 12  searchable                     4024 non-null   bool
 13  show                           4024 non-null   bool
 14  surname                        4024 non-null   object
 15  updated                        3365 non-null   object
 16  birth.date                     3900 non-null   object
 17  birth.plain                    4024 non-null   object
 18  death.date                     2179 non-null   object
 19  death.plain                    3317 non-null   object
 20  wikidata.birthplace            1694 non-null   object
 21  wikidata.birthplace_label      1694 non-null   object
 22  wikidata.deathplace            1491 non-null   object
 23  wikidata.deathplace_label      1491 non-null   object
 24  wikidata.image                 1274 non-null   object
 25  wikidata.sbl_link              812 non-null    object
 26  wikidata.skbl_link             173 non-null    object
 27  wikidata.sol_link              122 non-null    object
 28  wikidata.wikidata_id           2344 non-null   object
 29  wikidata.wikipedia             1914 non-null   object
 30  db_timestamp_updated           2495 non-null   float64
 31  intro_text                     728 non-null    object
 32  popularity                     2030 non-null   float64
 33  pseudonym                      126 non-null    object
 34  dramawebben.intro              114 non-null    object
 35  dramawebben.intro_author       113 non-null    object
 36  dramawebben.intro_author_norm  113 non-null    object
 37  dramawebben.legacy_url         127 non-null    object
 38  dramawebben.picture            82 non-null     object
 39  sources                        536 non-null    object
 40  other_name                     77 non-null     object
 41  intro_author                   417 non-null    object
 42  intro_author_norm              417 non-null    object
 43  dramawebben.picture_info       76 non-null     object
 44  picture                        251 non-null    object
 45  bibliography                   14 non-null     object
 46  external_ref                   8 non-null      object
 47  presentation                   27 non-null     object
 48  seemore                        4 non-null      object
 49  dramawebben.sources            6 non-null      object
dtypes: bool(2), float64(2), int64(1), object(45)
memory usage: 1.5+ MB

In [4]:
df["show"].value_counts()

True     3130
False     894
Name: show, dtype: int64

In [5]:
#just objects with show
dfShow = df[df["show"]].copy()

In [6]:
dfexternal = dfShow[{"authorid","wikidata.sbl_link","wikidata.skbl_link","wikidata.wikidata_id","wikidata.sol_link"
,"wikidata.wikidata_id","wikidata.wikipedia"}]

In [7]:
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130 entries, 1 to 4023
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.sbl_link     765 non-null    object
 1   wikidata.wikidata_id  2134 non-null   object
 2   authorid              3130 non-null   object
 3   wikidata.wikipedia    1752 non-null   object
 4   wikidata.sol_link     118 non-null    object
 5   wikidata.skbl_link    152 non-null    object
dtypes: object(6)
memory usage: 171.2+ KB

In [8]:
dfexternal["wikidata.sol_link"].value_counts()

Hjalmar_Gullberg                      1
Eyvind_Johnson                        1
Gudmund_Jöran_Adlerbeth               1
Dan_Andersson                         1
Mårten_Altén                          1
                                     ..
Johan_Gabriel_Oxenstierna             1
Erik_Lindegren                        1
Andreas_Johannis_Arosiandrinus        1
Wilhelmina_Stålberg                   1
Abraham_Niclas_Clewberg_Edelcrantz    1
Name: wikidata.sol_link, Length: 118, dtype: int64

In [9]:
dfexternal

,wikidata.sbl_link,wikidata.wikidata_id,authorid,wikidata.wikipedia,wikidata.sol_link,wikidata.skbl_link
1,None,Q11967131,AasenE,None,None,None
2,None,Q4933592,AbeniusM,https://sv.wikipedia.org/wiki/Margit_Abenius,None,MargitAbenius
3,NaN,NaN,AbrahamssonA,NaN,NaN,NaN
5,None,Q4934135,AbrahamssonS,https://sv.wikipedia.org/wiki/Selma_Abrahamsson,None,None
6,5503,Q365923,AchariusE,https://sv.wikipedia.org/wiki/Erik_Acharius,None,None
...,...,...,...,...,...,...
4015,None,Q1237808,ÖnnerforsA,https://sv.wikipedia.org/wiki/Alf_%C3%96nnerfors,None,None
4017,None,Q6257795,ÖstergrenCL,https://sv.wikipedia.org/wiki/Carl_%C3%96stergren,None,None
4018,NaN,NaN,ÖstergrenC,NaN,NaN,NaN
4021,None,Q100752816,ÖstinO,None,None,None
4023,None,Q11978200,ØverlandJ,None,None,None

### Get Wikidata

In [10]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys,json
import pandas as pd 

from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

# https://w.wiki/4AAV
query = """SELECT (REPLACE(STR(?item), ".*Q", "Q") AS ?WikidataID)  ?authorid ?SBL ?SKBL WHERE {
?item wdt:P31 wd:Q5.
?item wdt:P5101 ?authorid
OPTIONAL {?item wdt:P3217 ?SBL}
OPTIONAL {?item wdt:P4963 ?SKBL}
} order by ?authorid"""
 
    
def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']
    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDLittbanktot = get_sparql_dataframe(endpoint_url, query)

In [11]:
WDLittbanktot['SBL'] = pd.to_numeric(WDLittbanktot['SBL'], errors="coerce")
WDLittbanktot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348 entries, 0 to 2347
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  2348 non-null   object
 1   authorid    2348 non-null   object
 2   SBL         810 non-null    float64
 3   SKBL        161 non-null    object
dtypes: float64(1), object(3)
memory usage: 73.5+ KB

In [12]:
# Find duplicates
WDLittbanktot[WDLittbanktot.duplicated(["authorid"],keep=False)]

Empty DataFrame
Columns: [WikidataID, authorid, SBL, SKBL]
Index: []

In [13]:
dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130 entries, 1 to 4023
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.sbl_link     765 non-null    float64
 1   wikidata.wikidata_id  2134 non-null   object
 2   authorid              3130 non-null   object
 3   wikidata.wikipedia    1752 non-null   object
 4   wikidata.sol_link     118 non-null    object
 5   wikidata.skbl_link    152 non-null    object
dtypes: float64(1), object(5)
memory usage: 171.2+ KB

<ipython-input-13-e1d483007a37>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")

### Compare Littbank Wikidata field with Wikidata

In [14]:
WDLittbank_WD_merge =  pd.merge(WDLittbanktot, dfexternal, on='authorid',indicator=True)
WDLittbank_WD_merge.rename(columns={"_merge": "WD_Littbank_merge"},inplace = True)

WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2347
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [15]:
WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2347
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [16]:
# all with SBL seems to have WIkidata
WDLittbanktotSBL =  WDLittbank_WD_merge[~WDLittbank_WD_merge['wikidata.sbl_link'].isnull()]
WDLittbanktotSBL_noWD = WDLittbanktotSBL[WDLittbanktotSBL['wikidata.wikidata_id'].isnull()] 
WDLittbanktotSBL_noWD

Empty DataFrame
Columns: [WikidataID, authorid, SBL, SKBL, wikidata.sbl_link, wikidata.wikidata_id, wikidata.wikipedia, wikidata.sol_link, wikidata.skbl_link, WD_Littbank_merge]
Index: []

### SBL

In [17]:
WDLittbanktot_SBL = WDLittbanktot[~WDLittbanktot["SBL"].isna()]
WDLittbanktot_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 810 entries, 5 to 2279
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  810 non-null    object
 1   authorid    810 non-null    object
 2   SBL         810 non-null    float64
 3   SKBL        79 non-null     object
dtypes: float64(1), object(3)
memory usage: 31.6+ KB

In [18]:
# Find duplicates
WDLittbanktot_SBL[WDLittbanktot_SBL.duplicated(["SBL"],keep=False)]

     WikidataID     authorid      SBL  SKBL
1079    Q709853   JosephsonE  12215.0  None
1080    Q709853  JosephsonJA  12215.0  None

In [19]:
dfexternal_SBL = dfexternal[~dfexternal["wikidata.sbl_link"].isna()]

In [20]:
dfexternal_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 6 to 3897
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.sbl_link     765 non-null    float64
 1   wikidata.wikidata_id  765 non-null    object
 2   authorid              765 non-null    object
 3   wikidata.wikipedia    763 non-null    object
 4   wikidata.sol_link     66 non-null     object
 5   wikidata.skbl_link    77 non-null     object
dtypes: float64(1), object(5)
memory usage: 41.8+ KB

In [21]:
WDLittbank_WD_SBL_merge =  pd.merge(WDLittbanktot_SBL, dfexternal_SBL, left_on='SBL', right_on='wikidata.sbl_link',indicator=True)
WDLittbank_WD_SBL_merge.rename(columns={"_merge": "WD_Littbank_SBL_merge"},inplace = True)

WDLittbank_WD_SBL_merge["WD_Littbank_SBL_merge"].value_counts()

both          766
left_only       0
right_only      0
Name: WD_Littbank_SBL_merge, dtype: int64

## SKBL

In [22]:
WDLittbanktot_SKBL = WDLittbanktot[~WDLittbanktot["SKBL"].isna()]
WDLittbanktot_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 2 to 2337
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WikidataID  161 non-null    object
 1   authorid    161 non-null    object
 2   SBL         79 non-null     float64
 3   SKBL        161 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.3+ KB

In [23]:
dfexternal_SKBL = dfexternal[~dfexternal["wikidata.skbl_link"].isna()]
dfexternal_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 2 to 4006
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.sbl_link     77 non-null     float64
 1   wikidata.wikidata_id  152 non-null    object
 2   authorid              152 non-null    object
 3   wikidata.wikipedia    152 non-null    object
 4   wikidata.sol_link     23 non-null     object
 5   wikidata.skbl_link    152 non-null    object
dtypes: float64(1), object(5)
memory usage: 8.3+ KB

In [24]:
WDLittbank_WD_SKBL_merge =  pd.merge(WDLittbanktot_SKBL, dfexternal_SBL,how='outer', left_on='SKBL', right_on='wikidata.skbl_link',indicator=True)
WDLittbank_WD_SKBL_merge.rename(columns={"_merge": "WD_Littbank_SKBL_merge"},inplace = True)

WDLittbank_WD_SKBL_merge["WD_Littbank_SKBL_merge"].value_counts()

right_only    688
left_only      84
both           77
Name: WD_Littbank_SKBL_merge, dtype: int64

In [25]:
WDLittbank_WD_SKBL_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 849 entries, 0 to 848
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   WikidataID              161 non-null    object
 1   authorid_x              161 non-null    object
 2   SBL                     79 non-null     float64
 3   SKBL                    161 non-null    object
 4   wikidata.sbl_link       765 non-null    float64
 5   wikidata.wikidata_id    765 non-null    object
 6   authorid_y              765 non-null    object
 7   wikidata.wikipedia      763 non-null    object
 8   wikidata.sol_link       66 non-null     object
 9   wikidata.skbl_link      77 non-null     object
 10  WD_Littbank_SKBL_merge  849 non-null    category
dtypes: category(1), float64(2), object(8)
memory usage: 73.9+ KB

In [26]:
WDLittbank_WD_SKBL_merge

,WikidataID,authorid_x,SBL,SKBL,wikidata.sbl_link,wikidata.wikidata_id,authorid_y,wikidata.wikipedia,wikidata.sol_link,wikidata.skbl_link,WD_Littbank_SKBL_merge
0,Q4933592,AbeniusM,NaN,MargitAbenius,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,Q4933819,AdelborgO,5519.0,OttiliaAdelborg,5519.0,Q4933819,AdelborgO,https://sv.wikipedia.org/wiki/Ottilia_Adelborg,None,OttiliaAdelborg,both
2,Q4346827,AdlersparreS,5564.0,SophieAdlersparre,5564.0,Q4346827,AdlersparreS,https://sv.wikipedia.org/wiki/Sophie_Adlersparre,None,SophieAdlersparre,both
3,Q4933929,AdolfssonE,NaN,EvaAdolfsson,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Q469339,AgrellA,5599.0,AlfhildAgrell,5599.0,Q469339,AgrellA,https://sv.wikipedia.org/wiki/Alfhild_Agrell,None,AlfhildAgrell,both
...,...,...,...,...,...,...,...,...,...,...,...
844,NaN,NaN,NaN,NaN,34837.0,Q6197780,SvedeliusWE,https://sv.wikipedia.org/wiki/Wilhelm_Erik_Sve...,None,None,right_only
845,NaN,NaN,NaN,NaN,34820.0,Q748553,SwedbergJ,https://sv.wikipedia.org/wiki/Jesper_Swedberg,None,None,right_only
846,NaN,NaN,NaN,NaN,34840.0,Q185832,SwedenborgE,https://sv.wikipedia.org/wiki/Emanuel_Swedenborg,None,None,right_only
847,NaN,NaN,NaN,NaN,34844.0,Q22110411,SwederusG,https://sv.wikipedia.org/wiki/Georg_Swederus,None,None,right_only
848,NaN,NaN,NaN,NaN,15352.0,Q23989269,WinterR,https://sv.wikipedia.org/wiki/Reinhold_Ericson,None,None,right_only

In [27]:
print("|",start_time.strftime("%Y%m%d"),"|",dfShow["authorid"].nunique(),
     "|",dfShow["wikidata.wikidata_id"].nunique(),
     "|",dfShow["wikidata.sbl_link"].nunique(),
     "|",dfShow["wikidata.skbl_link"].nunique(),
     "|",WDLittbanktot["authorid"].nunique(),
     "|",WDLittbanktot["SBL"].nunique(),
     "|",WDLittbanktot["SKBL"].nunique()
     )

| 20211004 | 3130 | 2132 | 765 | 152 | 2348 | 809 | 161

In [28]:
#dfShow["wikidata.wikidata_id"].nunique()

In [29]:
#WDLittbanktot.info()

In [30]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-10-04 13:01:55.576508
Time elapsed (hh:mm:ss.ms) 0:00:04.643811

In [31]:
#WDLittbanktot["authorid"].nonunique()
WDLittbanktot[WDLittbanktot["authorid"].duplicated()]

Empty DataFrame
Columns: [WikidataID, authorid, SBL, SKBL]
Index: []

In [32]:
#df[df.duplicated(['ID'], keep=False)]

In [33]:
WDLittbanktot[WDLittbanktot.duplicated(["authorid"],keep=False)]

Empty DataFrame
Columns: [WikidataID, authorid, SBL, SKBL]
Index: []

In [34]:
#WDLittbanktot[WDLittbanktot["authorid"]==WDLittbanktot[WDLittbanktot["authorid"].duplicated()]].sort_values("authorid")

In [35]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ass.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-10-04 13:01:55.614184
Time elapsed (hh:mm:ass.ms) 0:00:04.681401