### Work in progress
Test och se om vi kan bättre utnyttja fält i Litteraturbankens json
* sbl_link --> Wikidata Property 3217 = Svenskt Biografiskt Lexikon
* skbl_link --> Wikidata Property 4963 = Svenskt kvinnobiografiskt lexikon
* sol_link ?!?!?!
* wikidata_id = Wikidata Qnummer
* wikipedia = Wikipedia URL


Denna [Notebook](https://github.com/salgo60/spa2Commons/blob/main/Notebook/Litteraturbanken%20-%20samma%20som.ipynb) och en [video](https://www.youtube.com/watch?v=52yEa4LdzFE) hur vi kopplar ihop med Litteraturbanken, Svenskt Porträttarkiv....
* [issue 3](https://github.com/salgo60/spa2Commons/issues/3) om vi kan bättre förstå hur Litteraturbanken arbetar

**TODO**
 -  [ ] kontrollera data
 -  [ ] förstå vad SOL är
 - [ ] bättre koll diff SBL SKBL skriva ut till fil 
 - [ ] kolla samma som LIBRISXL

 

**Connectivity status**

I en perfekt värld skall
* A = B = E
* C = F 
* D = G
* H = I  


| Date | A: Litteraturbanken show | B: Littbank - WD | C: Littbank - SBL | D: Littbank - SKBL|E: WD - Littbank | F: WD - Littbank - SBL  |G: WD - Littbank - SKBL  |
| ------------- |:-------------:|:-------------:|:-------------:|:-------------:|:-------------:|:-------------:| -----:|
| 20211001 | 3130 | 2132 | 765 | 152 | 2346 | 810 | 161
| 20211004 | 3130 | 2132 | 765 | 152 | 2347 | 809 | 161
| 20211005 | 3174 | 2354 | 809 | 161 | 2406 | 824 | 165
| 20211006 | 3174 | 2354 | 809 | 161 | 2430 | 830 | 166
| 20211007 | 3174 | 2354 | 809 | 161 | 2437 | 830 | 166
| 20211031 | 3174 | 2354 | 809 | 161 | 2509 | 830 | 166  
| 20211201 | 3289 | 2532 | 831 | 166 | 2534 | 833 | 166

| Date | A: Litteraturbanken show | H: Littbank - LibrisXL | I: WD- Littbank - LIBRISXL |
| ------------- |:-------------:|:-------------:|:-------------:|
| 20211005 | 3174 | 1780 | 2024
| 20211006 | 3174 | 1779 | 2046
| 20211007 | 3174 | 1779 | 2053
| 20211028 | 3174 | 1779 | 2121 
| 20211201 | 3289 | 1837 | 2136

Lista egenskaper i Wikdata på objekt som är kopplade till Litteraturbankens författare
* [externa kopplingar](https://w.wiki/4B3X)
* ["alla"](https://w.wiki/4B3Z)

Saker som detta är enormt viktigt   
* Wikidata behöver auktoriteter att kontrollera kvaliten på vårt data och snabbt se att vi som en öppen plattform inte vandaliseras
* Wikidata med Wikipedia har stort antal visningar - se statistik senaste året > [15000 visningar per dag](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=last-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://sv.wikipedia.org/wiki/Kategori:Litteraturbanken) på de artiklar som länkar Litteraturbanken --> vi drar traffik till Litteraturbanken
* vi ser mer och mer brister hos Kungliga biblioteket och andra äldre auktorieteter att dom har gamla plattformar/teknik där fyller en plattform som Wikidata med sina fel och brister en ny möjlighet se [tankar](https://github.com/salgo60/spa2Commons/issues/3) 
* ju fler som kopplar ihop sig med varandra desto snabbare/enklare blir denna process
* på sikt hoppas vi få ett kulturarv där vi jobbar ihop även fast det går långsamt

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2021-12-01 12:28:11.405241

In [2]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
pd.set_option("display.max.columns", None) 
 
url = "https://litteraturbanken.se/api/get_authors"
r = http.request('GET', url)
data = json.loads(r.data)
df = pd.json_normalize(data["data"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4145 entries, 0 to 4144
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   authorid                       4145 non-null   object
 1   authorid_norm                  4145 non-null   object
 2   db_checksum                    4145 non-null   object
 3   db_timestamp                   4145 non-null   int64
 4   doc_type                       4145 non-null   object
 5   full_name                      4145 non-null   object
 6   gender                         4145 non-null   object
 7   imported                       3492 non-null   object
 8   intro                          733 non-null    object
 9   librisid                       2240 non-null   object
 10  name_for_index                 4145 non-null   object
 11  pictureinfo                    174 non-null    object
 12  searchable                     4145 non-null   bool
 13  show                           4145 non-null   bool
 14  surname                        4145 non-null   object
 15  updated                        3492 non-null   object
 16  birth.date                     3978 non-null   object
 17  birth.plain                    4145 non-null   object
 18  death.date                     2272 non-null   object
 19  death.plain                    3435 non-null   object
 20  wikidata.birthplace            1914 non-null   object
 21  wikidata.birthplace_label      1914 non-null   object
 22  wikidata.deathplace            1666 non-null   object
 23  wikidata.deathplace_label      1666 non-null   object
 24  wikidata.image                 1509 non-null   object
 25  wikidata.sbl_link              833 non-null    object
 26  wikidata.skbl_link             166 non-null    object
 27  wikidata.sol_link              136 non-null    object
 28  wikidata.wikidata_id           2545 non-null   object
 29  wikidata.wikipedia             1942 non-null   object
 30  db_timestamp_updated           2598 non-null   float64
 31  intro_text                     733 non-null    object
 32  popularity                     2119 non-null   float64
 33  pseudonym                      142 non-null    object
 34  dramawebben.intro              114 non-null    object
 35  dramawebben.intro_author       113 non-null    object
 36  dramawebben.intro_author_norm  113 non-null    object
 37  dramawebben.legacy_url         127 non-null    object
 38  dramawebben.picture            82 non-null     object
 39  sources                        537 non-null    object
 40  other_name                     98 non-null     object
 41  intro_author                   418 non-null    object
 42  intro_author_norm              418 non-null    object
 43  dramawebben.picture_info       76 non-null     object
 44  picture                        258 non-null    object
 45  bibliography                   14 non-null     object
 46  external_ref                   8 non-null      object
 47  presentation                   28 non-null     object
 48  seemore                        4 non-null      object
 49  dramawebben.sources            6 non-null      object
dtypes: bool(2), float64(2), int64(1), object(45)
memory usage: 1.5+ MB

In [4]:
df["show"].value_counts()

True     3289
False     856
Name: show, dtype: int64

In [5]:
#just objects with show = True --> displayed in the web
dfShow = df[df["show"]].copy() 
dfShow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3289 entries, 1 to 4144
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   authorid                       3289 non-null   object
 1   authorid_norm                  3289 non-null   object
 2   db_checksum                    3289 non-null   object
 3   db_timestamp                   3289 non-null   int64
 4   doc_type                       3289 non-null   object
 5   full_name                      3289 non-null   object
 6   gender                         3289 non-null   object
 7   imported                       2849 non-null   object
 8   intro                          704 non-null    object
 9   librisid                       1840 non-null   object
 10  name_for_index                 3289 non-null   object
 11  pictureinfo                    173 non-null    object
 12  searchable                     3289 non-null   bool
 13  show                           3289 non-null   bool
 14  surname                        3289 non-null   object
 15  updated                        2849 non-null   object
 16  birth.date                     3156 non-null   object
 17  birth.plain                    3289 non-null   object
 18  death.date                     1843 non-null   object
 19  death.plain                    2835 non-null   object
 20  wikidata.birthplace            1907 non-null   object
 21  wikidata.birthplace_label      1907 non-null   object
 22  wikidata.deathplace            1659 non-null   object
 23  wikidata.deathplace_label      1659 non-null   object
 24  wikidata.image                 1502 non-null   object
 25  wikidata.sbl_link              831 non-null    object
 26  wikidata.skbl_link             166 non-null    object
 27  wikidata.sol_link              135 non-null    object
 28  wikidata.wikidata_id           2535 non-null   object
 29  wikidata.wikipedia             1935 non-null   object
 30  db_timestamp_updated           2561 non-null   float64
 31  intro_text                     704 non-null    object
 32  popularity                     2102 non-null   float64
 33  pseudonym                      134 non-null    object
 34  dramawebben.intro              102 non-null    object
 35  dramawebben.intro_author       101 non-null    object
 36  dramawebben.intro_author_norm  101 non-null    object
 37  dramawebben.legacy_url         108 non-null    object
 38  dramawebben.picture            76 non-null     object
 39  sources                        520 non-null    object
 40  other_name                     93 non-null     object
 41  intro_author                   395 non-null    object
 42  intro_author_norm              395 non-null    object
 43  dramawebben.picture_info       71 non-null     object
 44  picture                        256 non-null    object
 45  bibliography                   14 non-null     object
 46  external_ref                   7 non-null      object
 47  presentation                   28 non-null     object
 48  seemore                        4 non-null      object
 49  dramawebben.sources            6 non-null      object
dtypes: bool(2), float64(2), int64(1), object(45)
memory usage: 1.2+ MB

In [6]:
dfexternal = dfShow[{"authorid","wikidata.sbl_link","wikidata.skbl_link","wikidata.wikidata_id","wikidata.sol_link"
,"wikidata.wikidata_id","wikidata.wikipedia"}]

In [7]:
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3289 entries, 1 to 4144
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikipedia    1935 non-null   object
 1   wikidata.sbl_link     831 non-null    object
 2   authorid              3289 non-null   object
 3   wikidata.wikidata_id  2535 non-null   object
 4   wikidata.sol_link     135 non-null    object
 5   wikidata.skbl_link    166 non-null    object
dtypes: object(6)
memory usage: 179.9+ KB

In [8]:
dfexternal["wikidata.sol_link"].value_counts()

Bo_Carpelan                       1
Lorenzo_Hammarsköld               1
Albert_Eriksson                   1
Anders_Fredrik_Skjöldebrand       1
Algot_Ruhe                        1
                                 ..
Andreas_Johannis_Arosiandrinus    1
Artur_Lundkvist                   1
Erik_Lindegren                    1
Fredrik_August_Dahlgren           1
Thorsten_Jonsson                  1
Name: wikidata.sol_link, Length: 135, dtype: int64

In [9]:
dfexternal

,wikidata.wikipedia,wikidata.sbl_link,authorid,wikidata.wikidata_id,wikidata.sol_link,wikidata.skbl_link
1,None,None,AasenE,Q11967131,None,None
2,https://sv.wikipedia.org/wiki/Margit_Abenius,None,AbeniusM,Q4933592,None,MargitAbenius
3,https://sv.wikipedia.org/wiki/Augusta_Abrahamsson,None,AbrahamssonA,Q24680938,None,None
5,https://sv.wikipedia.org/wiki/Selma_Abrahamsson,None,AbrahamssonS,Q4934135,None,None
6,https://sv.wikipedia.org/wiki/Erik_Acharius,5503,AchariusE,Q365923,None,None
...,...,...,...,...,...,...
4138,https://sv.wikipedia.org/wiki/Carl_%C3%96stergren,None,ÖstergrenCL,Q6257795,None,None
4139,None,None,ÖstergrenC,Q108406266,None,None
4140,NaN,NaN,ÖstergrenPJ,NaN,NaN,NaN
4142,None,None,ÖstinO,Q100752816,None,None
4144,None,None,ØverlandJ,Q11978200,None,None

### Get Wikidata

In [10]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys,json
import pandas as pd 

from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

# https://w.wiki/4AAV
query = """SELECT (REPLACE(STR(?item), ".*Q", "Q") AS ?WikidataID)  ?authorid ?SBL ?SKBL WHERE {
?item wdt:P31 wd:Q5.
?item wdt:P5101 ?authorid
OPTIONAL {?item wdt:P3217 ?SBL}
OPTIONAL {?item wdt:P4963 ?SKBL}
} order by ?authorid"""
queryLIBRIS = """SELECT ?item (REPLACE(STR(?item), ".*Q", "Q") AS ?WikidataID)  ?authorid ?SBL ?SKBL (sample(?LIBRISXL) AS ?LIBRISXL)
 WHERE {
?item wdt:P31 wd:Q5.
?item wdt:P5101 ?authorid
OPTIONAL {?item wdt:P3217 ?SBL}
OPTIONAL {?item wdt:P5587 ?LIBRISXL}
OPTIONAL {?item wdt:P4963 ?SKBL}
} group by ?item ?WikidataID ?authorid ?SBL ?SKBL
order by ?authorid""" 
    
def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']
    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDLittbanktot = get_sparql_dataframe(endpoint_url, queryLIBRIS)

In [11]:
WDLittbanktot['SBL'] = pd.to_numeric(WDLittbanktot['SBL'], errors="coerce")
WDLittbanktot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2534 entries, 0 to 2533
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item        2534 non-null   object
 1   WikidataID  2534 non-null   object
 2   authorid    2534 non-null   object
 3   SBL         833 non-null    float64
 4   SKBL        166 non-null    object
 5   LIBRISXL    2138 non-null   object
dtypes: float64(1), object(5)
memory usage: 118.9+ KB

In [12]:
# Find duplicates
WDLittbanktot[WDLittbanktot.duplicated(["authorid"],keep=False)]

Empty DataFrame
Columns: [item, WikidataID, authorid, SBL, SKBL, LIBRISXL]
Index: []

In [13]:
dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")
dfexternal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3289 entries, 1 to 4144
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikipedia    1935 non-null   object
 1   wikidata.sbl_link     831 non-null    float64
 2   authorid              3289 non-null   object
 3   wikidata.wikidata_id  2535 non-null   object
 4   wikidata.sol_link     135 non-null    object
 5   wikidata.skbl_link    166 non-null    object
dtypes: float64(1), object(5)
memory usage: 179.9+ KB

<ipython-input-13-e1d483007a37>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfexternal['wikidata.sbl_link'] = pd.to_numeric(dfexternal['wikidata.sbl_link'], errors="coerce")

### Compare Littbank Wikidata field with Wikidata

In [14]:
WDLittbank_WD_merge =  pd.merge(WDLittbanktot, dfexternal, on='authorid',indicator=True)
WDLittbank_WD_merge.rename(columns={"_merge": "WD_Littbank_merge"},inplace = True)

WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2521
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [15]:
WDLittbank_WD_merge["WD_Littbank_merge"].value_counts()

both          2521
left_only        0
right_only       0
Name: WD_Littbank_merge, dtype: int64

In [16]:
# all with SBL seems to have WIkidata
WDLittbanktotSBL =  WDLittbank_WD_merge[~WDLittbank_WD_merge['wikidata.sbl_link'].isnull()]
WDLittbanktotSBL_noWD = WDLittbanktotSBL[WDLittbanktotSBL['wikidata.wikidata_id'].isnull()] 
WDLittbanktotSBL_noWD

Empty DataFrame
Columns: [item, WikidataID, authorid, SBL, SKBL, LIBRISXL, wikidata.wikipedia, wikidata.sbl_link, wikidata.wikidata_id, wikidata.sol_link, wikidata.skbl_link, WD_Littbank_merge]
Index: []

### SBL

In [17]:
WDLittbanktot_SBL = WDLittbanktot[~WDLittbanktot["SBL"].isna()]
WDLittbanktot_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 833 entries, 4 to 2460
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item        833 non-null    object
 1   WikidataID  833 non-null    object
 2   authorid    833 non-null    object
 3   SBL         833 non-null    float64
 4   SKBL        83 non-null     object
 5   LIBRISXL    787 non-null    object
dtypes: float64(1), object(5)
memory usage: 45.6+ KB

In [18]:
# Find duplicates
WDLittbanktot_SBL[WDLittbanktot_SBL.duplicated(["SBL"],keep=False)]

Empty DataFrame
Columns: [item, WikidataID, authorid, SBL, SKBL, LIBRISXL]
Index: []

In [19]:
dfexternal_SBL = dfexternal[~dfexternal["wikidata.sbl_link"].isna()]

In [20]:
dfexternal_SBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 831 entries, 6 to 4014
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikipedia    829 non-null    object
 1   wikidata.sbl_link     831 non-null    float64
 2   authorid              831 non-null    object
 3   wikidata.wikidata_id  831 non-null    object
 4   wikidata.sol_link     73 non-null     object
 5   wikidata.skbl_link    83 non-null     object
dtypes: float64(1), object(5)
memory usage: 45.4+ KB

In [21]:
WDLittbank_WD_SBL_merge =  pd.merge(WDLittbanktot_SBL, dfexternal_SBL, left_on='SBL', right_on='wikidata.sbl_link',indicator=True)
WDLittbank_WD_SBL_merge.rename(columns={"_merge": "WD_Littbank_SBL_merge"},inplace = True)

WDLittbank_WD_SBL_merge["WD_Littbank_SBL_merge"].value_counts()

both          831
left_only       0
right_only      0
Name: WD_Littbank_SBL_merge, dtype: int64

## SKBL

In [22]:
WDLittbanktot_SKBL = WDLittbanktot[~WDLittbanktot["SKBL"].isna()]
WDLittbanktot_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 1 to 2522
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item        166 non-null    object
 1   WikidataID  166 non-null    object
 2   authorid    166 non-null    object
 3   SBL         83 non-null     float64
 4   SKBL        166 non-null    object
 5   LIBRISXL    157 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.1+ KB

In [23]:
dfexternal_SKBL = dfexternal[~dfexternal["wikidata.skbl_link"].isna()]
dfexternal_SKBL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 2 to 4127
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wikidata.wikipedia    166 non-null    object
 1   wikidata.sbl_link     83 non-null     float64
 2   authorid              166 non-null    object
 3   wikidata.wikidata_id  166 non-null    object
 4   wikidata.sol_link     26 non-null     object
 5   wikidata.skbl_link    166 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.1+ KB

In [24]:
WDLittbank_WD_SKBL_merge =  pd.merge(WDLittbanktot_SKBL, dfexternal_SBL,how='outer', left_on='SKBL', right_on='wikidata.skbl_link',indicator=True)
WDLittbank_WD_SKBL_merge.rename(columns={"_merge": "WD_Littbank_SKBL_merge"},inplace = True)

WDLittbank_WD_SKBL_merge["WD_Littbank_SKBL_merge"].value_counts()

right_only    748
left_only      83
both           83
Name: WD_Littbank_SKBL_merge, dtype: int64

In [25]:
WDLittbank_WD_SKBL_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 914 entries, 0 to 913
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   item                    166 non-null    object
 1   WikidataID              166 non-null    object
 2   authorid_x              166 non-null    object
 3   SBL                     83 non-null     float64
 4   SKBL                    166 non-null    object
 5   LIBRISXL                157 non-null    object
 6   wikidata.wikipedia      829 non-null    object
 7   wikidata.sbl_link       831 non-null    float64
 8   authorid_y              831 non-null    object
 9   wikidata.wikidata_id    831 non-null    object
 10  wikidata.sol_link       73 non-null     object
 11  wikidata.skbl_link      83 non-null     object
 12  WD_Littbank_SKBL_merge  914 non-null    category
dtypes: category(1), float64(2), object(10)
memory usage: 93.8+ KB

In [26]:
WDLittbank_WD_SKBL_merge

,item,WikidataID,authorid_x,SBL,SKBL,LIBRISXL,wikidata.wikipedia,wikidata.sbl_link,authorid_y,wikidata.wikidata_id,wikidata.sol_link,wikidata.skbl_link,WD_Littbank_SKBL_merge
0,http://www.wikidata.org/entity/Q4933592,Q4933592,AbeniusM,NaN,MargitAbenius,ljx00mt45v0dfx5,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,http://www.wikidata.org/entity/Q4933819,Q4933819,AdelborgO,5519.0,OttiliaAdelborg,sq466t3b4s743md,https://sv.wikipedia.org/wiki/Ottilia_Adelborg,5519.0,AdelborgO,Q4933819,None,OttiliaAdelborg,both
2,http://www.wikidata.org/entity/Q4346827,Q4346827,AdlersparreS,5564.0,SophieAdlersparre,64jlfw3q2m71jcx,https://sv.wikipedia.org/wiki/Sophie_Adlersparre,5564.0,AdlersparreS,Q4346827,None,SophieAdlersparre,both
3,http://www.wikidata.org/entity/Q4933929,Q4933929,AdolfssonE,NaN,EvaAdolfsson,jgvxzl422jvcr4v,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,http://www.wikidata.org/entity/Q469339,Q469339,AgrellA,5599.0,AlfhildAgrell,xv8b5m1g4l89sb6,https://sv.wikipedia.org/wiki/Alfhild_Agrell,5599.0,AgrellA,Q469339,None,AlfhildAgrell,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,NaN,NaN,NaN,NaN,NaN,NaN,https://sv.wikipedia.org/wiki/Wilhelm_Erik_Sve...,34837.0,SvedeliusWE,Q6197780,None,None,right_only
910,NaN,NaN,NaN,NaN,NaN,NaN,https://sv.wikipedia.org/wiki/Jesper_Swedberg,34820.0,SwedbergJ,Q748553,None,None,right_only
911,NaN,NaN,NaN,NaN,NaN,NaN,https://sv.wikipedia.org/wiki/Emanuel_Swedenborg,34840.0,SwedenborgE,Q185832,None,None,right_only
912,NaN,NaN,NaN,NaN,NaN,NaN,https://sv.wikipedia.org/wiki/Georg_Swederus,34844.0,SwederusG,Q22110411,None,None,right_only
913,NaN,NaN,NaN,NaN,NaN,NaN,https://sv.wikipedia.org/wiki/Reinhold_Ericson,15352.0,WinterR,Q23989269,None,None,right_only

In [27]:
print("|",start_time.strftime("%Y%m%d"),"|",dfShow["authorid"].nunique(),
     "|",dfShow["wikidata.wikidata_id"].nunique(),
     "|",dfShow["wikidata.sbl_link"].nunique(),
     "|",dfShow["wikidata.skbl_link"].nunique(),
     "|",WDLittbanktot["authorid"].nunique(),
     "|",WDLittbanktot["SBL"].nunique(),
     "|",WDLittbanktot["SKBL"].nunique()
     )

| 20211201 | 3289 | 2532 | 831 | 166 | 2534 | 833 | 166

In [28]:
print("|",start_time.strftime("%Y%m%d"),"|",dfShow["authorid"].nunique(),
     "|",dfShow["librisid"].nunique(),
     "|",WDLittbanktot["LIBRISXL"].nunique()
     )

| 20211201 | 3289 | 1837 | 2136

In [29]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-12-01 12:28:18.606979
Time elapsed (hh:mm:ss.ms) 0:00:07.202422

In [30]:
#df[df.duplicated(['ID'], keep=False)]

In [31]:
WDLittbanktot[WDLittbanktot.duplicated(["authorid"],keep=False)]

Empty DataFrame
Columns: [item, WikidataID, authorid, SBL, SKBL, LIBRISXL]
Index: []

In [32]:
#WDLittbanktot[WDLittbanktot["authorid"]==WDLittbanktot[WDLittbanktot["authorid"].duplicated()]].sort_values("authorid")

In [33]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ass.ms) {}'.format(datetime.now() - start_time))

Ended:  2021-12-01 12:28:18.668697
Time elapsed (hh:mm:ass.ms) 0:00:07.264099